<div class="container" style="width:100%; margin-right:0; margin-left:0;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="width:100%;">
      <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
        <div id="rankguide" style="padding:0 128px;">
            <div style="display:flex; flex-direction:column; align-items:center;">
                <h1>TIP 서비스 이용안내</h1>
                <br><br>
                TIP 서비스에 대한 자세한 설명은 카테고리별로 클릭시 확인할수 있습니다. <br>
                본 내용은 '(고객사)'의 인기게시물 노출 정보를 무료로 공개하고 있습니다. 사전 동의없이 사이트의 일체정보, 콘텐츠, UI등을 상업적 목적으로 전재, 전송, 스크래핑 등 무한 사용할 수 없으며 상표법위반, 불법트래픽 유입으로 인한 피해는 형사고발 조치 될 수 있습니다.
                
                <div style="display:flex; flex-direction:column; width:100%; margin-top:32px;">
                    <div id="rg_container">
                      <div style="width:100%; border:1px solid #e6e6e6; background-color:white; border-radius:8px; text-align:left; padding: 16px;" class="rg_item" onclick="rg_1()">
                        <span>인기게시물 활용노출 TIP</span><br/>
                        <p class="content" style="display: none;">
                        <br>
                          ✔ 본 서비스는 인기게시물/인기탭 알고리즘 정보를 무료로 정보를 제공하는것이며 판매하는 서비스가 아닙니다.<br/>
                          ✔ 인기게시물/인기탭 상승은 많은 사람들에게 노출되며 효율적이고 자연스러운 홍보를 진행 하실 수 있습니다.<br/>
                          ✔ 해당 인기게시물/인기탭 알고리즘은 현재 저희도 그대로 활용중인 서비스 구성이며 인기게시물/인기탭 상승은<br/>
                          계정최적화가 우선 되어있어야 노출확률이 높습니다.<br/>
                          ✔인기탭 경우 관련,정보성에 맞는 기준, 꾸준한 팔로워유입과 관리가된 계정을 지표로 잡고있습니다.<br/>
                          최적화된 기준, 경쟁이 적당한 해시태그는 1500팔로워 / 경쟁이쌘 해시태그는 3000팔로워 이상 필요합니다.<br/>
                          ❶ 인기게시물/인기탭 작업 순서<br/>
                          1개의 게시물 링크를 순차적으로 주문해주세요.<br/>
                          인기게시물/인기탭 노출 꿀팁 [1]<br/>
                          실제한국인 프로필방문,게시물 노출+도달 1개당 1원(2000개)<br/>
                          　　　　　　　　↓<br/>
                          인기게시물/인기탭 노출 꿀팁 [2]<br/>
                          한국인 실제 파워 좋아요 - 1개당 19원 (100개~300개)<br/>
                          　　　　　　　　↓<br/>
                          인기게시물/인기탭 노출 꿀팁 [3]<br/>
                          실제한국인 빠른댓글 - 1개당 280원(5개~20개)<br/>
                          ※위 작업순서는 사진 1장기준 최적화된 작업 입니다.<br/>
                          ㅡㅡㅡㅡㅡㅡㅡㅡ<br/>
                          ▼아래 서비스 는 경우에따라 추가사항 입니다.▼<br/>
                          ㅡㅡㅡㅡㅡㅡㅡㅡ<br/>
                          ◈영상 / 여러장이미지 경우◈<br/>
                          외국인 실제 파워 좋아요 - 1개당 19원 (900개)<br/>
                          ◈유지 / 순위상승 UP◈<br/>
                          인기게시물/인기탭 노출 꿀팁 [2]<br/>
                          한국인 실제 파워 좋아요 - 1개당 19원 (100개)<br/>
                          인기게시물/인기탭 노출 꿀팁 [3]<br/>
                          실제한국인 빠른댓글 - 1개당 280원(5개)<br/>
                          ※인기게시물/인기탭 노출 꿀팁 [2], 인기게시물/인기탭 노출 꿀팁 [3] 을 "1일에 한번씩 주입"[인게에서 떨어질경우 중<br/>
                          -위에 1~3번 모두 진행후 "모바일기준" 노출이 되면 "유지 / 순위상승 UP"을 추천드립니다.<br/>
                          -영상,여러장 업로드시 더 많은 참여가 필요로 합니다.<br/>
                          ❷ 서비스 신청 후 1시간~2시간 뒤 확인<br/>
                          ❸ 인기게시물/인기탭 노출 필수 조건<br/>
                          - 계정지수가 안정된 최적화계정<br/>
                          - 인스타에서 한번도 사용하지 않는 사진, 영상 업로드<br/>
                          - 게시물 본문 혹 댓글의 20개 해시태그 중<br/>
                          누적게시물 1000개, 5000개 태그를 포함하여 해시태그 작성<br/>
                          ❹ 48시간이 지나도 상단 노출이 안되는 경우<br/>
                          - 활동이 없던 기존계정, 지수가 낮은계정에 해당됩니다.<br/>
                          - 노출이 안될경우 최적화계정 만들기 + 작업을 병행해주세요.<br/>
                          - 아래 작업을 총 25일간 진행해주시면 됩니다.<br/>
                          [ 최적화 계정 만들기 ]<br/>
                          1. 실제 팔로워 서비스 하루 20~40명 유입받기<br/>
                          2. 하루 최소1개의 게시물 업로드를 해야됩니다.<br/>
                          3. 본문 최소 2줄 이상, 해시태그 포함하여 업로드<br/>
                          4. 인스타에 한번도 올리지 않은 게시물 업로드<br/>
                          5. 하루 최소 10개의 좋아요 누르기, 댓글 2회 작성<br/>
                          6. 매 게시물 당 노출+도달 100회 이상 유입하기<br/>
                          7. 실제 좋아요 100개 이상 유입하기<br/>
                          8. 매일 한달간 1~3번의 작업을 진행해주세요.<br/>
                          ※해당 부분이 업무로 바쁜분들은 최적화계정육성을 추천드립니다.<br/>
                          [ 내 계정 최적화잘되었는지 확인하는 방법은? ]<br/>
                          1.한번도 사용하지않은 사진1장을 준비<br/>
                          2.게시물에 관련된 누적게시물 1000~4999개, 5000~9999개 태그를 포함하여 해시태그 작성<br/>
                          3.❶ 인기게시물/인기탭 작업 순서 그대로 주문을 해본다.<br/>
                          4.인기게시물/인기탭 안잡힌경우 최적화가 되지않은것 "최적화 계정 만들기" 에 더욱 힘써주세요.<br/>
                          [ 최적화를 편하고 빠르게 하는방법은? ]<br/>
                          많은분들이 최적화하는 노하우도 알고 소통이 필수라는건 아실겁니다.<br/>
                          알지만 놓치기 쉽고 업무로 바쁜데 매일 소통을 하며 인스타만 잡고있긴 어렵습니다.<br/>
                          하여 저희가 "최적화계정육성 서비스"를 오픈을 한것이며<br/>
                          사장님들이 가장 주문을 많이하시고 최적화하면서 효과를 많이보고계십니다.<br/>
                          타 업체 인기게시물? 프로필상단노출? 부러워하지마세요 사장님도 가능합니다.<br/>
                          자세한 서비스는 오픈인스타 상품 또는 문의 주시면 자세한 피드백 도와드립니다!<br/>
                          인스타그램의 알고리즘 혹 로직이 변경되는 경우<br/>
                          인기게시물 작업 순서는 항시 변경 될 수 있습니다.<br/>
                          알고리즘을 매일 체크하여 확인하시길 바랍니다.<br/>
                          ※해당 꿀팁과 방식은 인기게시물 확률을 올리는 서비스이며 보장을 하지 않습니다.<br/>
                        </p>
                      </div>
                      <div style="width:100%; border:1px solid #e6e6e6; background-color:white; border-radius:8px; text-align:left; padding: 16px;" class="rg_item" onclick="rg_2()">
                        <span>인기게시물 TIP</span><br/>
                        <p class="content" style="display: none;"><br>test
                        </p>
                      </div>
                      <div style="width:100%; border:1px solid #e6e6e6; background-color:white; border-radius:8px; text-align:left; padding: 16px;" class="rg_item" onclick="rg_3()">
                        <span>인기탭 TIP</span><br/>
                        <p class="content" style="display: none;"><br>test
                        </p>
                      </div>
                      <div style="width:100%; border:1px solid #e6e6e6; background-color:white; border-radius:8px; text-align:left; padding: 16px;" class="rg_item" onclick="rg_4()">
                        <span>검색탭 TIP</span><br/>
                        <p class="content" style="display: none;"><br>test
                        </p>
                      </div>
                      <div style="width:100%; border:1px solid #e6e6e6; background-color:white; border-radius:8px; text-align:left; padding: 16px;" class="rg_item" onclick="rg_5()">
                        <span>최적화 계정육성 TIP</span><br/>
                        <p class="content" style="display: none;"><br>test
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var header = document.getElementById("rg_container");
  var btns = header.getElementsByClassName("rg_item");
  for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
          if(this.classList.contains('active')){
              this.classList.remove('active');
          }else{
              var current = document.getElementsByClassName("rg_item active");
              if(current[0]){
                  current[0].classList.remove('active');
              }
              this.classList.add('active');
          }
      });
  }   

  {# var header = document.getElementById("rg_container");
  var btns = header.getElementsByClassName("rg_item");
  for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("rg_item active");
      
      if (current.length > 0) { 
      current[0].className = current[0].className.replace(" active", "");
      }
      this.className += " active";
      });
  } #}

  function rg_1() {
    
  }
  function rg_2() {

  }
  function rg_3() {

  }
  function rg_4() {

  }
  function rg_5() {

  }
</script>